Backend/n8n-workflows/SIGAF – Firmar y Responder Acta.json
{
  "name": "SIGAF - Firmar y devolver Acta",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sigaf-firmar-acta",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-sign-request",
      "name": "Webhook SIGAF solicitar firma",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-700, 0]
    },
    {
      "parameters": {
        "jsCode": "function required(value, label) {\n  if (!value) throw new Error(`${label} requerido`);\n  return value;\n}\n\nconst input = $input.first().json || {};\nconst headers = Object.fromEntries(\n  Object.entries(input.headers || {}).map(([key, value]) => [key.toLowerCase(), String(value || '')]),\n);\nconst body = input.body || {};\n\nconst expectedSecret = process.env.N8N_SIGN_REQUEST_SECRET || process.env.SYNC_SECRET || '';\nif (!expectedSecret) throw new Error('N8N_SIGN_REQUEST_SECRET/SYNC_SECRET no configurado en n8n');\n\nif (headers['x-sigaf-sign-request-secret'] !== expectedSecret) {\n  throw new Error(`[SIGAF] Secreto invalido. eventId=${body.eventId || 'unknown'}`);\n}\n\nreturn [{\n  json: {\n    eventId: required(body.eventId, 'eventId'),\n    sigafRequestId: required(body.sigafRequestId, 'sigafRequestId'),\n    correlationId: body.correlationId || body.sigafRequestId,\n    idSolicitud: body.idSolicitud || body.correlationId || body.sigafRequestId,\n    googleDocId: required(body.documentToSign?.googleDocId, 'documentToSign.googleDocId'),\n    googleDocUrl: body.documentToSign?.googleDocUrl || '',\n    signatureImageFileId: required(body.signature?.signatureImageFileId, 'signature.signatureImageFileId'),\n    signatureAnchor: body.signature?.signatureAnchor || 'FIRMA DEL RESPONSABLE ACTIVOS FIJOS',\n    requestedByName: body.signature?.requestedByName || '',\n    requestedByEmail: body.signature?.requestedByEmail || '',\n    senderEmail: required(body.emailContext?.senderEmail, 'emailContext.senderEmail'),\n    senderName: body.emailContext?.senderName || '',\n    subject: body.emailContext?.subject || 'Solicitud F-AF-039',\n    messageId: body.emailContext?.messageId || '',\n    threadId: body.emailContext?.threadId || ''\n  }\n}];"
      },
      "id": "normalize-sign-request",
      "name": "Validar y normalizar solicitud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SIGAF_APPS_SCRIPT_SIGN_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-apps-script-sign-secret", "value": "={{ $env.APPS_SCRIPT_SIGN_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { eventId: $json.eventId, googleDocId: $json.googleDocId, signatureImageFileId: $json.signatureImageFileId, anchorText: $json.signatureAnchor, requestedByName: $json.requestedByName, requestedByEmail: $json.requestedByEmail } }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "insert-signature",
      "name": "Insertar firma institucional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-220, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $('Validar y normalizar solicitud').first().json.senderEmail }}",
        "subject": "=Re: {{ $('Validar y normalizar solicitud').first().json.subject }}",
        "message": "=Cordial saludo,\\n\\nSe devuelve el acta F-AF-039 firmada para la solicitud {{ $('Validar y normalizar solicitud').first().json.sigafRequestId }}.\\n\\nActa firmada: {{ $('Insertar firma institucional').first().json.signedGoogleDocUrl || $('Validar y normalizar solicitud').first().json.googleDocUrl }}\\n\\nAtentamente,\\nActivos Fijos",
        "options": {}
      },
      "id": "reply-original-email",
      "name": "Responder Gmail al solicitante",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [20, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SIGAF_API_URL }}/sync/transfer-request/sign-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-sigaf-sign-result-secret", "value": "={{ $env.N8N_SIGN_RESULT_SECRET || $env.SYNC_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { eventId: $('Validar y normalizar solicitud').first().json.eventId, sigafRequestId: $('Validar y normalizar solicitud').first().json.sigafRequestId, correlationId: $('Validar y normalizar solicitud').first().json.correlationId, idSolicitud: $('Validar y normalizar solicitud').first().json.idSolicitud, status: 'RESPUESTA_ENVIADA', signedGoogleDocId: $('Insertar firma institucional').first().json.signedGoogleDocId || $('Validar y normalizar solicitud').first().json.googleDocId, signedGoogleDocUrl: $('Insertar firma institucional').first().json.signedGoogleDocUrl || $('Validar y normalizar solicitud').first().json.googleDocUrl, emailSentAt: new Date().toISOString(), signedBy: $('Validar y normalizar solicitud').first().json.requestedByEmail, requestedByName: $('Validar y normalizar solicitud').first().json.requestedByName } }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "notify-sigaf-result",
      "name": "Notificar firma a SIGAF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [260, 0]
    }
  ],
  "connections": {
    "Webhook SIGAF solicitar firma": {
      "main": [[{ "node": "Validar y normalizar solicitud", "type": "main", "index": 0 }]]
    },
    "Validar y normalizar solicitud": {
      "main": [[{ "node": "Insertar firma institucional", "type": "main", "index": 0 }]]
    },
    "Insertar firma institucional": {
      "main": [[{ "node": "Responder Gmail al solicitante", "type": "main", "index": 0 }]]
    },
    "Responder Gmail al solicitante": {
      "main": [[{ "node": "Notificar firma a SIGAF", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
